
body{
    /* background-color: #4d9ba526; */
    background-color: #e1eef8;
}

body p{
    font-family: "Noto Sans", sans-serif;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    rotate: 0deg;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}  

a.skip:focus{
    top:60px;
    color: black;
    left: 60px;
    right: 60px;
    text-decoration-style: solid;
    border-style: dashed;
    font-family: "Comic Sans MS";
    text-decoration: none;
  }


.title{
    background-color: rgb(137, 148, 161);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5%;
}

.title>h1{
    text-align: center;
    font-family: "Andale Mono", monospace;
    font-size: 30px;
    
}

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 120px;
    
}

.current{
    text-transform: uppercase;
    font-size: 33px;
}


nav>a{
    text-decoration: none;
    font-family: 'Marker Felt', 'courier'; 
    font-size: 24px;
}

nav>a:link{
    /* color: rgb(224, 39, 6); */
    color: rgb(226, 45, 32);
}

a:focus{
    font-size: 24px;
}

nav>a:visited{
    /* color: rgb(224, 39, 6); */
    color: rgb(226, 45, 32);
} 




h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

/* ABOUT ME SECTION */
#main_index{
    /* background-image: url(../about_imgs/under_sculpture.jpg); */
    background-attachment: fixed;
    /* padding-bottom: 50%; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* border-color:rgb(80, 78, 78); */
    /* border-style: solid; */
    border-width: .05em;
}

#main_index p{
    color:black;
    background-color: rgb(255, 255, 255, .9);
    padding: 2%;
    margin-top: 0%;
    font-family: monospace;
}

.intro{
    padding-top: 25px;
}

.intro p{
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.maincontainer{
   position: relative;
   width: 100%;
   height: 350px;
   margin-left: auto;
   margin-right: auto;
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;

}

.thecard:hover{
    transform: rotateY(180deg);
}

.thecard:focus{
    transform: rotateY(180deg);
}


.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(../about_imgs/surfing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
    background-image: url(../about_imgs/surfing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.theback p{
    padding: 10%;
    margin: auto auto;
    color: white;
    font-size: 35px;
}

#surf{
    margin-bottom: 30px;
}

#festival{
    margin-top: -30px;
}

#festival_front{
    background-image: url(../about_imgs/outside_lands.jpg);
    background-position: center;
    background-size: contain;
}

#festival_back{
    background-image: url(../about_imgs/osl2.jpg);
    background-size: contain;
}



/* EXPERIENCE.HTML SECTION */
li {
    list-style: square;
    padding: 10px;
}

.ordermark{
    border-radius: 20px;
}




/* PROJECTS.HTML SECTION */
.project_sum{
    font-family: "rockwell";
}

iframe{
    display: none;
}

.project{
    max-width: none;
    padding-bottom: 15px;
}

.project>h2, .project>p{
    text-align: center;
    padding: 0px;
}

.project>img{
    width: 150%;
}


/* FOOTER STYLE */
footer{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer>a, footer img{
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.git{
    border-radius: 40px;
}



/* MEDIA.HMTL SECTION */
#media_overview{
    font-size: 20px;
    text-align: center;
}

.mediaLink{
    color: rgb(80, 78, 78);
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.mediaLink:hover{
    font-size: 28px;
}

#music_head, #books_head, #movies_head{
    margin-bottom: -15px;
}
#music,#books,#movies {
    margin-top: 0px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
}

#all_media h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
}

#all_media figure{
    align-self: center;
    justify-self: start;
    grid-column: start 2 / span 1;
    display: inline;
}

#all_media figcaption, #all_media img{
    text-align: center;
    
}

#music>figure>img{
    border: 5px solid green;
    /* margin: auto; */
}

#music{
    grid-column: 2 / span 1;
}

#music figcaption{
    font-family: "Candara", "arial";
    font-size: 20px;
}

#books>figure>img{
    border: 5px solid red;
    margin: auto;
}

#books{
    grid-column: 2 / span 1;
    word-wrap: break-word;
}

/* #movies{
    grid-column: 2 / span 1;
} */

#books figcaption{
    font-family: "rockwell", "arial";
}


#movies>figure>img{
    border: 5px solid black;
    margin: auto;
}

#movies figcaption{
    font-family: "Copperplate", "Arial";
    font-size: 23px;
}



@keyframes slidein{
    from{
        left: -1000px;
    }
    to{
        left: 0;
        top: 0;
    }

}

/* img{
    width: 80%;
    /* filter: grayscale(.75); */
    /* animation: slidein;
    animation-duration: 4s;
} */

img:hover{
    filter: grayscale(0);

}

img:active{
    transform: rotate(0deg);
}


@media all and (prefers-reduced-motion){
    img{
        animation: none;
    }

    img:hover{
        filter: grayscale(0);
    }
}


@media screen and (min-width: 1000px){
    iframe{
        display: block;
        
    }

    .title{
        padding: 0%;
    }

    .project>a{
        display: none;
    }

    .project p{
        display: none;
    }
}

@media all and (prefers-reduced-motion){
    img{
        animation: none;
    }

    img:hover{
        filter: grayscale(0);
    }
}



